/* XL Device :1200px. */
@media (min-width: 1300px) and (max-width: 1449px) {



}


@media (min-width: 1200px) and (max-width: 1300px) {



}


/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1199px) {

    

}


/* Tablat Device */
@media (min-width: 767px) and (max-width: 992px) {

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }

    .description p {
        font-size: 16px;
    }

    .caption {
        font-size: 15px;
    }

    .header_area .col-md-4{
        display: none;
    }
    
    .header_logo {
        display: none;
    }

    .header_area-info {
        float: none;
    }

    .header_area-info ul {
        justify-content: space-around;
    }

    .header_mobail-logo {
        display: inline-block;
        width: 146px;
    }

    .header_main_menu {
        display: none;
    }

    .header_main-right .common_btn{
        display: none;
    }

    .menu_trigger {
        display: block;
    }

    .hero_area {
        padding: 94px 0;
        height: 446px;
    }

    .services_area-title {
        margin-bottom: 32px;
    }

    .services_area-info {
        grid-template-columns: 100%;
    }

    .services_area-info_tab .nav-pills {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .view_all {
        display: none;
    }

    .contact_card-wraper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .services_card-image::after {
        font-size: 25px;
        width: 70px;
        height: 70px;
    }

    .singal-services-page .services_area-info {
        grid-template-columns: 100% !important;
    }

    .services_area-info_tab .nav-link {
        padding: 13px;
    }

    .contact-page .appointment_book-form ul {
        width: 50%;
    }

    .doctors_area {
        padding: 50px 0;
    }

    .doctors_area-title {
        margin-bottom: 50px;
    }

    .doctor_profile-card {
        height: 480px;
        margin: 30px 0;
    }

    .doctor_profile-image {
        height: 300px;
    }

    .doctor_profile-content {
        padding: 20px;
    }

    .doctor_name {
        font-size: 17px;
    }

    .doctor_category {
        font-size: 16px;
    }

    .owl-dots {
        margin-top: 50px;
    }

}

/* SM Small Device :320px. */
@media only screen and (max-width: 766.99px) {

    h1 {
        font-size: 28px;
        line-height: 40px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
        line-height: 35px;
    }

    .description p {
        font-size: 14px;
        line-height: 20px;
    }

    .caption {
        font-size: 12px;
    }

    .common_btn {
        padding: 10px 26px;
        font-size: 14px;
    }

    .hero_area .secondry_circle {
        position: absolute;
        left: -100px;
        top: -100px;
        width: 200px;
        height: 200px;
    }

    .common-hero_area h1{
        text-align: left;
    }

    .learn_more-btn {
        font-size: 13px;
    }

    .header_area .col-md-4{
        display: none;
    }
    
    .header_logo {
        display: none;
    }

    .header_area-info {
        float: none;
    }

    .header_area-info ul {
        justify-content: space-around;
    }

    .header_area-info ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        flex-wrap: wrap;
        gap: 20px;
    }

    .header_area-info ul li a {
        font-size: 13px;
    }

    .header_area-info ul li img{
        width: 20px;
        height: 20px;
    }

    .header_area-info ul li a span {
        font-size: 11px !important;
    }

    .header_mobail-logo {
        display: inline-block;
        width: 128px;
    }

    .header_main_menu {
        display: none;
    }

    .header_main-right .common_btn{
        display: none;
    }

    .menu_trigger {
        display: block;
    }

    .hero_area {
        padding: 67px 0;
        height: 319px;
    }

    .hero_area-content {
        text-align: center;
    }

    .book_card-area {
        display: none;
    }

    .medical_area {
        padding-top: 48px;
    }

    .medical_area-content .learn_more-btn {
        margin-top: 12px;
    }

    .medical_area-image {
        position: relative;
        width: 100%;
        height: 150px;
        margin-top: 40px;
    }

    .services_area-title {
        margin-bottom: 32px;
    }

    .services_area-info {
        grid-template-columns: 100%;
    }

    .services_area-info_tab .nav-pills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .view_all {
        display: none;
    }

    .service_box-content {
        grid-template-columns: 100%;
    }

    .service_box-image {
        height: 150px;
    }

    .service_box-content h3 {
        font-size: 18px;
        text-align: center;
    }

    .service_box-content ul {
        gap: 15px 30px;
        margin: 24px 0 32px 25px;
    }

    .service_box-content ul li {
        font-size: 12px;
    }

    .service_box-content .description p {
        font-size: 12px;
    }

    .specialties_area {
        padding-top: 0;
    }

    .specialties_area-title {
        margin-bottom: 40px;
    }

    .specialties_card-wraper {
        grid-template-columns: repeat(2,1fr)
    }

    .specialties_card {
        font-size: 13px;
        gap: 15px;
        min-height: 130px;
    }

    .services_card-image::after {
        font-size: 25px;
        width: 70px;
        height: 70px;
    }

    .appointment_book {
        padding: 40px 0;
    }

    .appointment_book-content {
        text-align: center;
        margin-bottom: 40px;
    }

    .appointment_book-form {
        min-height: fit-content;
    }

    .contact-page .appointment_book-form ul {
        width: 50%;
    }

    .news_area-wraper {
        display: block !important;
    }

    .news_area-wraper .owl-stage-outer,
    .news_area-wraper .owl-stage,
    .news_area-wraper .owl-item {
        display: block !important;
        width: 100% !important;
        float: none !important;
    }

    .news_card-wraper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        width: 100% !important;
    }

    .news_card {
        min-height: fit-content;
        grid-template-columns: 100%;
    }

    .news_card-image {
        width: 100%;
        height: 150px;
    }

    .contact_area-title {
        margin-bottom: 40px;
    }

    .contact_card-wraper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .contact_card {
        min-height: 186px;
    }

    .contact-page .contact_card-wraper {
        grid-template-columns: repeat(1,1fr);
    }

    .about-page .services_area .service_box-content {
        grid-template-columns: 100%;
    }

    .services_card {
        height: fit-content;
    }

    .services_card-image {
        height: 200px;
    }

    .services_card-content {
        padding: 45px 20px 32px 20px;
    }

    .services_card-content p {
        font-size: 15px;
    }

    .blog_post-image {
        width: 100%;
        height: 200px;
    }

    .blog_post-content p{
        font-size: 15px;
    }

    .services_area {
        padding-top: 0;
    }

    .singal-services-page .services_area-info {
        grid-template-columns: 100% !important;
    }

    .services_area-info_tab .nav-link {
        padding: 13px;
    }

    .singal-services-page .service_box-image {
        height: 254px;
    }

    .map_area iframe {
        width: 100%;
        height: 250px;
    }

    .contact_area {
        padding-top: 0;
    }

    .contact-page  .appointment_book-form textarea {
        min-height: 135px;
    }

    .doctors_area {
        padding: 40px 0;
    }

    .doctors_area-title {
        margin-bottom: 40px;
    }

    .doctor_profile-card {
        height: auto;
        min-height: 400px;
        margin: 20px 0;
        transform: translate3d(0, 0, 0) scale(1) !important; /* Reset carousel scaling on mobile */
    }

    .doctor_profile-card img {
        transform: scale(1) !important;
    }

    .doctor_profile-card.center .item {
        transform: scale(1) !important;
    }

    .doctor_profile-image {
        height: 250px;
    }

    .doctor_profile-content {
        min-height: auto;
        padding: 20px;
    }

    .doctor_name {
        font-size: 16px;
    }

    .doctor_category {
        font-size: 14px;
        letter-spacing: 2px;
        margin: 8px 0;
    }

    .doctor_profile-btn {
        font-size: 14px;
        padding: 10px;
    }

    .owl-dots {
        margin-top: 40px;
        gap: 10px;
    }

    .owl-dot {
        width: 12px !important;
        height: 12px !important;
    }
   
}

/* LandScape Mobail device */
@media (min-width: 575px) and (max-width: 768px) {

    .contact_card-wraper {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-page .contact_card-wraper {
        grid-template-columns: repeat(2,1fr);
    }

    .news_card-wraper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .news_card {
        min-height: fit-content;
        grid-template-columns: 100%;
    }
}