/* XL Device :1200px. */
@media (min-width: 1300px) and (max-width: 1449px) {



}


@media (min-width: 1200px) and (max-width: 1300px) {



}


/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1199px) {

    

}


/* Tablat Device */
@media (min-width: 767px) and (max-width: 992px) {

    h1 {
        font-size: 37px;
        line-height: 57px;
    }

    h2 {
        font-size: 30px;
        line-height: 50px;
    }

    h3 {
        font-size: 22px;
        line-height: 30px;
    }

    .description-text p {
        font-size: 15px;
        line-height: 23px;
    }

    .rounded_btn {
        font-size: 15px;
        padding: 10px 32px;
    }

    .border_btn {
        font-size: 15px;
        padding: 10px 32px;
    }

    .header_top_right ul {
        justify-content: center;
    }

    .logo_img img {
        width: 122px;
    }

    .header_main_menu {
        position: fixed;
        left: -100%;
        top: 0;
        width: 300px;
        height: 100%;
        background-color: var(--primary-color);
        align-items: flex-start;
        padding: 30px 30px 30px 50px;
        opacity: 0;
        pointer-events: none;
        transition: all 0.4s ease;
    }
      
    .header_main_menu.active {
        left: 0;
        opacity: 1;
        pointer-events: auto;
    }
      

    .header_main_menu ul{
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 30px;
    }

    .header_main_menu ul li a{
        color: var(--white-color);
    }

    .header_menu_cross{
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--white-color);
        background-color: transparent;
        border-radius: 100%;
        cursor: pointer;
        color: var(--white-color);
        transform: translate(-33px, -8px);
    }

    .header_main_right .rounded_btn{
        display: none;
    }

    .menu_trigger{
        display: flex;
    }

    .hero_area_image {
        float: right;
        width: 380px;
        height: 440px;
    }

    .text-circle-shape {
        position: absolute;
        top: 0;
        width: 250px;
    }

    .story_area {
        padding: 60px 0 60px 0;
    }

    .story_area_card_wraper {
        margin-top: 50px;
    }

    .treatment_area {
        padding: 60px 0 60px 0;
        background-color: var(--common-bg);
    }

    .common_card_content .description-text p {
        font-size: 15px;
        line-height: 21px;
    }

    .owl-dots {
        margin-top: 35px;
    }

    .happy_client_area {
        margin: 50px 0;
        padding: 45px 30px 45px 45px;
    }

    .happy_client_image_singal-1 {
        width: 234px;
        height: 143px;
        top: -64px;
    }

    .happy_client_image_singal-2 {
        width: 206px;
        height: 145px;
        left: 100px;
    }

    .happy_client_image_singal-3 {
        width: 239px;
        height: 136px;
        top: 149px;
    }

    .client_reviews {
        padding: 45px 0 45px 0;
    }

    .client_reviews_content h3 {
        font-size: 22px;
    }

    .client_avater {
        width: 75px;
        height: 75px;
    }

    .faq_area {
        padding: 60px 0 60px 0;
    }

    .faq_area_right {
        padding-left: 0;
    }

    .faq_area_right .accordion {
        padding: 0;
    }

    .blog_area {
        padding: 60px 0 60px 0;
    }

    .blog_area .common_card_wraper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .our_info_area {
        padding: 50px 0px 50px 0px;
    }

    .our_info_left h3 {
        font-size: 16px;
    }

    .our_info_right ul li {
        font-size: 16px;
    }

}

/* SM Small Device :320px. */
@media only screen and (max-width: 766.99px) {

    
    h1 {
        font-size: 24px;
        line-height: 57px;
    }

    h2 {
        font-size: 20px;
        line-height: 35px;
    }

    h3 {
        font-size: 18px;
        line-height: 30px;
    }

    h4 {
        font-size: 18px;
        line-height: 28px;
    }

    .description-text p {
        font-size: 13px;
        line-height: 20px;
    }

    .rounded_btn {
        font-size: 12px;
        padding: 10px 32px;
    }

    .border_btn {
        font-size: 12px;
        padding: 10px 32px;
    }

    .header_top_right ul {
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }

    .header_top_right ul li a {
        border-right: none;
        border-bottom: 2px solid var(--primary-color);
        padding-bottom: 10px;
        font-size: 12px;
        border-bottom: 1px solid;
    }

    .header_top_right ul li a svg{
        width: 12px;
    }

    .logo_img img {
        width: 90px;
    }

    .header_main_menu {
        position: fixed;
        left: -100%;
        top: 0;
        width: 300px;
        height: 100%;
        background-color: var(--primary-color);
        align-items: flex-start;
        padding: 30px 30px 30px 50px;
        opacity: 0;
        pointer-events: none;
        transition: all 0.4s ease;
    }
      
    .header_main_menu.active {
        left: 0;
        opacity: 1;
        pointer-events: auto;
    }
      

    .header_main_menu ul{
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 30px;
    }

    .header_main_menu ul li a{
        color: var(--white-color);
    }

    .header_menu_cross{
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--white-color);
        background-color: transparent;
        border-radius: 100%;
        cursor: pointer;
        color: var(--white-color);
        transform: translate(-33px, -8px);
    }

    .header_main_right .rounded_btn{
        display: none;
    }

    .menu_trigger{
        display: flex;
    }

    .hero_area {
        padding: 250px 0 40px 0;
    }

    .hero_area_content {
        margin: 30px 0 0 0;
    }

    .hero_area_content h1, .hero_area_content .description-text p{
        text-align: center;
    }

    .hero_area_content .rounded_btn {
        display: flex;
        width: fit-content;
        margin: auto;
    }

    .hero_area_image {
        width: 100%;
        height: 280px;
    }

    .text-circle-shape {
        position: absolute;
        top: 0;
        width: 185px;
    }

    .story_area {
        padding: 40px 0 40px 0;
    }

    .story_area h2, .story_area .description-text p{
        text-align: center;
    }

    
    .story_area .rounded_btn {
        display: flex;
        width: fit-content;
        margin: auto;
    }

    .story_area_card_wraper {
        margin-top: 50px;
    }

    .story_area_card_item {
        height: 200px;
        border-radius: 14px;
    }

    .treatment_area {
        padding: 40px 0 40px 0;
        background-color: var(--common-bg);
    }

    .treatment_area h2{
        text-align: center;
    }

    .treatment_area .rounded_btn {
        display: flex;
        width: fit-content;
        margin: auto;
    }

    .common_card_image {
        width: 100%;
        height: 197px;
        border-radius: 10px;
        overflow: hidden;
    }

    .common_card_content .description-text p {
        font-size: 13px;
        line-height: 18px;
    }

    .common_card_content .border_btn {
        font-size: 12px;
    }

    .owl-dots {
        margin-top: 35px;
    }

    .owl-dot{
        width: 12px !important;
        height: 12px !important;
    }

    .happy_client_area {
        margin: 40px 0;
        padding: 25px 30px 25px 30px;
    }

    .happy_client_area {
        display: grid;
        grid-template-columns: 100%;
        grid-auto-flow: row-reverse;
    }    

    .happy_client_image_singal{
        display: none;
    }

    /* .happy_client_image_singal-1 {
        width: 234px;
        height: 143px;
        top: -64px;
    }

    .happy_client_image_singal-2 {
        width: 206px;
        height: 145px;
        left: 100px;
    }

    .happy_client_image_singal-3 {
        width: 239px;
        height: 136px;
        top: 149px;
    } */

    .client_reviews {
        padding: 40px 0 40px 0;
    }

    .client_reviews_content h3 {
        font-size: 22px;
    }

    .client_reviews_content h2{
        text-align: center;
    }

    .client_profile_area {
        display: flex;
        flex-direction: column;
        gap: 30px 0;
    }

    .client_profile {
        display: flex;
        flex-direction: column;
    }

    .client_avater {
        width: 75px;
        height: 75px;
    }

    .faq_area {
        padding: 40px 0 40px 0;
    }

    .faq_area_left form input, .faq_area_left form textarea {
        border-radius: 12px;
    }

    .faq_area_left form textarea {
        height: 180px;
    }

    .faq_area_right {
        padding-left: 0;
    }

    .faq_area_right .accordion {
        padding: 0;
    }

    .faq_area_right  .accordion-button {
        font-size: 17px;
    }

    .faq_area_right .accordion-body {
        font-size: 12px;
        line-height: 20px;
    }

    .blog_area {
        padding: 40px 0 40px 0;
    }

    .blog_area h2{
        text-align: center;
    }

    .blog_area .rounded_btn {
        display: flex;
        width: fit-content;
        margin: auto;
    }

    .blog_area .common_card_wraper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .our_info_area {
        padding: 50px 0px 50px 0px;
    }

    .our_info_right {
        margin-top: 20px;
    }

    .our_info_right ul {
        grid-template-columns: repeat(1, 1fr);
    }

    .our_info_left h3 {
        font-size: 16px;
    }

    .our_info_right ul li {
        font-size: 13px;
    }

    .footer_area {
        padding-top: 40px;
    }

    .footer_logo {
        width: 115px;
        height: 40px;
    }

    .footer_area_item .description-text p {
        font-size: 13px;
    }

    .social_icons ul a {
        font-size: 20px;
        width: 35px;
        height: 35px;
    }

    .footer_area_item .footer_menu li a {
        font-size: 14px;
    }
    
    .footer_area_item form input {
        width: 100%;
        height: 46px;
        font-size: 14px;
    }
 
    .footer_area_item form input::placeholder{
        font-size: 14px;
    }

    .copyright_area .description-text p{
        font-size: 12px;
    }

}

/* LandScape Mobail device */
@media (min-width: 575px) and (max-width: 768px) {

    .hero_area_image {
        width: 80%;
        height: 380px;
        display: block;
        float: none;
        margin: auto;
    }
   
}